<!-- Indicates a successful or positive action -->
<form action="#home" method="get">
    <button type="submit" class="btn btn-success">Back to Dashboard</button>
</form>
<div data-bind="template: { name: templatename}"></div>


<script type="text/html" id="fmcgHome">
    <!-- ko with: home -->
    <section data-bind="page: {id: 'start', title: 'Pager.js Demo Start'}" id="homepage" class="view">
        <div class="tile-group quadro align-center-tiles">
            <div class="tile-container">
                <div class="tile bg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <span class="tile-label"><a href="#/ManagingChannelPartner">MANAGING CHANNEL PARTNER</a></span>
                    </div>
                </div>
                <div class="tile bg-violet" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label"><a href="#/ManagingSalesTeam">MANAGING SALES TEAM</a></span>
                    </div>
                </div>
                <div class="tile bg-emerald" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label"><a href="#/ManagingPromotions">MANAGING PROMOTION</a></span>
                    </div>
                </div>
                <div class="tile bg-amber" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label"><a href="#/ManagingProduct">MANAGING PRODUCT</a></span>
                    </div>
                </div>
                <div class="tile bg-cobalt" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">FINANCIAL REPORTS</span>
                    </div>
                </div>
                <div class="tile bg-brown" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">MARKET RESEARCH REPORTS</span>
                    </div>
                </div>
                <div class="tile bg-blue" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">MAILBOX</span>
                    </div>
                </div>
                <div class="tile bg-red" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label">HELP !!!</span>
                    </div>
                </div>
                <div class="tile bg-white" data-role="tile">
                    <div class="tile-content iconic">
                        <icon />
                        <span class="tile-label"><a href="#/Admin">ADMIN</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /ko -->
</script>


<script type="text/html" id="fmcg-ChannelPartnerManagement">
    @Html.Partial("~/Views/Industries/fmcg/ChannelPartners/ChannelPartnerManagement.cshtml")
</script>


<script type="text/html" id="fmcg-SalesTeamManagement">
    @Html.Partial("~/Views/Industries/fmcg/Sales/SalesTeamManagement.cshtml")
</script>


<script type="text/html" id="fmcg-ProductManagement">
    @Html.Partial("~/Views/Industries/fmcg/Products/ProductManagement.cshtml")
</script>


<script type="text/html" id="fmcg-PromotionManagement">
    @Html.Partial("~/Views/Industries/fmcg/Promotions/PromotionManagement.cshtml")
</script>

<script type="text/html" id="fmcg-Admin">
    @Html.Partial("~/Views/Industries/fmcg/Admin/Manage.cshtml")
</script>